
# Archivos de credenciales
token.json
credentials.json

# Archivos de configuración
.env

# Base de datos de contactos
contacts.json

# Entorno virtual y dependencias
venv/ 

# Android/Capacitor
android/
node_modules/
www/
*.iml
.idea/
.DS_Store